.rect-auto,
.circle.p80 .slice,
.circle.p81 .slice,
.circle.p82 .slice,
.circle.p83 .slice,
.circle.p84 .slice,
.circle.p85 .slice,
.circle.p86 .slice,
.circle.p87 .slice,
.circle.p88 .slice,
.circle.p89 .slice,
.circle.p90 .slice,
.circle.p91 .slice,
.circle.p92 .slice,
.circle.p93 .slice,
.circle.p94 .slice,
.circle.p95 .slice,
.circle.p96 .slice,
.circle.p97 .slice,
.circle.p98 .slice,
.circle.p99 .slice,
.circle.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}

.pie,
.circle .bar,
.circle.p80 .fill,
.circle.p81 .fill,
.circle.p82 .fill,
.circle.p83 .fill,
.circle.p84 .fill,
.circle.p85 .fill,
.circle.p86 .fill,
.circle.p87 .fill,
.circle.p88 .fill,
.circle.p89 .fill,
.circle.p90 .fill,
.circle.p91 .fill,
.circle.p92 .fill,
.circle.p93 .fill,
.circle.p94 .fill,
.circle.p95 .fill,
.circle.p96 .fill,
.circle.p97 .fill,
.circle.p98 .fill,
.circle.p99 .fill,
.circle.p100 .fill {
    position: absolute;
    border: 0.08em solid #da1d1d;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pie-fill,
.circle.p80 .bar:after,
.circle.p80 .fill,
.circle.p81 .bar:after,
.circle.p81 .fill,
.circle.p82 .bar:after,
.circle.p82 .fill,
.circle.p83 .bar:after,
.circle.p83 .fill,
.circle.p84 .bar:after,
.circle.p84 .fill,
.circle.p85 .bar:after,
.circle.p85 .fill,
.circle.p86 .bar:after,
.circle.p86 .fill,
.circle.p87 .bar:after,
.circle.p87 .fill,
.circle.p88 .bar:after,
.circle.p88 .fill,
.circle.p89 .bar:after,
.circle.p89 .fill,
.circle.p90 .bar:after,
.circle.p90 .fill,
.circle.p91 .bar:after,
.circle.p91 .fill,
.circle.p92 .bar:after,
.circle.p92 .fill,
.circle.p93 .bar:after,
.circle.p93 .fill,
.circle.p94 .bar:after,
.circle.p94 .fill,
.circle.p95 .bar:after,
.circle.p95 .fill,
.circle.p96 .bar:after,
.circle.p96 .fill,
.circle.p97 .bar:after,
.circle.p97 .fill,
.circle.p98 .bar:after,
.circle.p98 .fill,
.circle.p99 .bar:after,
.circle.p99 .fill,
.circle.p100 .bar:after,
.circle.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.circle {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #bbb;
}

.circle *,
.circle *:before,
.circle *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.circle.center {
    float: none;
    margin: 0 auto;
}

.circle {
    font-size: 200px;
    margin: 0 auto;
}

.circle > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 45px;
    width: 5em;
    line-height: 1.5em;
    font-size: 0.2em;
    color: #666;
    display: block;
    text-align: center;
}

.circle:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #ddd;
    width: 0.84em;
    height: 0.84em;
}

.circle .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.circle.p12 .bar {
    -webkit-transform: rotate(43.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}

.circle.p25 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.circle.p50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.circle.p75 .bar {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.circle.p80 .bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}

.circle.p81 .bar {
    -webkit-transform: rotate(291.6deg);
    -moz-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    -o-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}

.circle.p82 .bar {
    -webkit-transform: rotate(295.2deg);
    -moz-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    -o-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}

.circle.p83 .bar {
    -webkit-transform: rotate(298.8deg);
    -moz-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    -o-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}

.circle.p84 .bar {
    -webkit-transform: rotate(302.40000000000003deg);
    -moz-transform: rotate(302.40000000000003deg);
    -ms-transform: rotate(302.40000000000003deg);
    -o-transform: rotate(302.40000000000003deg);
    transform: rotate(302.40000000000003deg);
}

.circle.p85 .bar {
    -webkit-transform: rotate(306deg);
    -moz-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    -o-transform: rotate(306deg);
    transform: rotate(306deg);
}

.circle.p86 .bar {
    -webkit-transform: rotate(309.6deg);
    -moz-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    -o-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}

.circle.p87 .bar {
    -webkit-transform: rotate(313.2deg);
    -moz-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    -o-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}

.circle.p88 .bar {
    -webkit-transform: rotate(316.8deg);
    -moz-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    -o-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}

.circle.p89 .bar {
    -webkit-transform: rotate(320.40000000000003deg);
    -moz-transform: rotate(320.40000000000003deg);
    -ms-transform: rotate(320.40000000000003deg);
    -o-transform: rotate(320.40000000000003deg);
    transform: rotate(320.40000000000003deg);
}

.circle.p90 .bar {
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    transform: rotate(324deg);
}
