html, body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}

p {
    line-height: 2;
}

/* ==== HEADER ==== */

header {
    background-color: #aaa;
    height: 50vh;
    width: 100%;
    position: relative;
    padding-top: 60px;
    overflow: hidden;
}

.hero-home {
    background: url(/img/hero-home-1.jpg) center center no-repeat;
    background-size: cover;
}

header .col {
    background-color: rgba(0, 0, 0, .4);
    height: 50vh;
}

.page-title {
    padding-top: 20vh;
    text-align: center;
    color: #FFF;
}

/* ==== INTRO ==== */

.intro p {
    margin-bottom: 25px;
}

.social-links {
    margin-left: -33px;
    margin-bottom: 50px;
}

.social-links li {
    list-style: none;
    display: inline-block;
    padding-right: 35px;
}

.social-links a {
    color: #fff;
}

.social-badge {
    position: absolute;
    font-size: 1.6rem;
    background: #222;
    width: 30px;
    padding-top: 3px;
    transition: all 0.3s;    
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.social-badge:hover {
    transform: scale(0.9);
}

.facebook:hover {
    background-color: #3b5998;
}

.twitter:hover {
    background-color: #6CADDE;
}

.instagram:hover {
    background-color: #bc1888;
}

.github {
    padding-right: 1px;
}

.github:hover {
    background-color: #333;
}

.linkedin:hover {
    background-color: #0077B5;
}

/* ==== RECENT WORK ==== */

.recent-work {
    background-color: #eee;
}

.project-container {
    background-color: #ddd;
    height: 300px;
}

.project {
    margin-top: 25px;
    background-color: #ccc;
    height: 250px;
}
